.progress {
    height: 8px;
}

.portfolio-item img{
    transition: ease .3s;
    position: relative;
}

.portfolio-item img:hover {
    transform: scale(1.05);
    box-shadow: 0 3px 10px rgba(0,0,0,0.16);
}

